* {margin: 0; padding: 0;}

html, body {
  margin: 0;
  padding: 0;
  font-family: "MozTT", sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: #fff;
}

body {
  height: 100%;
  display: block;
  overflow: hidden !important;
}

#title { margin: 50px 0; }
#title img { margin: 0 auto 20px auto; width: 320px; height: 120px; cursor: pointer; }

#display { width: 624px; display: block; margin: 20px auto; overflow: visible; }
#display img { float: left; width: 52px; height: 52px; }

/* 320x480 phones */
@media (orientation: portrait) and (width: 320px),
       (orientation: landscape) and (width: 480px) {
  #title img {  margin: 0 auto 20px;  width: 210px; height: 77px }
  #display { width: 312px;  }
  #display img { float:left; width: 26px; height: 26px; }
}


/* 480x800 phones */
@media (orientation: portrait) and (width: 480px),
       (orientation: landscape) and (width: 800px) {
  #title img { margin: 0 auto; width: 210px; height: 77px }
  #display { width: 432px; display: block; margin: 0 auto; overflow: visible; }
  #display img { float: left; width: 36px; height: 36px; }
}

/* Modern phones */
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : portrait) {
  #display { width: 744px; display: block; margin: 20px auto; overflow: visible; }
  #display img { float: left; width: 62px; height: 62px; }
}	
